.career-template {
    .headline-lines {
        margin-top: 62px;
        margin-bottom: 0;
    }
    .job-callout{
        display: block;
        margin-top: 40px;
        @include grid-media($medium-min) {
            display: flex;
        }
        .callout-content {
            h2 {
                margin-bottom: 32px;
            }
            a {
                text-transform: uppercase;
                margin-top: 20px;
                margin-bottom: 30px;
                min-width: 100%;
            }
            @include grid-media($medium-min) {
                width: calc(70.33333% - 43.33333px);
                margin-right: 110px;
            }
        }
        .gform_wrapper {
            width: 100%;
            margin-right: 20px;
            @include grid-media($medium-min) {
                width: 90%;
            }
            .gform_body ul li {
                margin-bottom: 25px;
                label {
                    @include hide-visually;
                }
            }
        }
    }
    .single_tile_content ul {
        list-style-type: disc;
        margin-left: 43px;
    }
}
