.entry-content {
    margin: 20px 0 0 0;
    p {
        margin: 30px 0px 0 0px;
    }
    @include grid-media($medium-min) {
        margin: 50px 0 50px 0;
        .alignleft {
            float: left;
            margin-right: 30px;
        }
    }
}
.flex_fifty_fifty {
    margin-top: 50px;
    p:nth-child(1) {
        margin-bottom: 30px;
        margin-top: 15px;
        @include grid-media($medium-min) {
            margin-top: auto;
        }
    }
}
.footer-callout {
    margin-top: 50px;
    @include grid-media($medium-min) {
        margin-top: 70px;
    }
}
