.entry-content {
    // margin: 20px 0 0 0;
    @include grid-media($medium-min) {
    // margin: 20px 0 20px 0;
        .alignleft {
            float: left;
            margin-right: 30px;
        }
    }
}
.flex_fifty_fifty {
    //margin-top: 30px;
    p:nth-child(1) {
        margin-bottom: 30px;
        margin-top: 15px;
        @include grid-media($medium-min) {
            margin-top: auto;
        }
    }
}
