// The 50/50 callout with image alignment option.
.flex_fifty_fifty {
  margin-bottom: 80px;
  &.img-left {
    display: block;
    img {
        height: auto;
        width: 100%;
    }
    .fifty-fifty_content {
      margin: 0 20px;
      h2 {
        color: $medium-gray;
      }
    }

    @include grid-media($medium-min) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      .fifty-fifty_img {
        flex-basis: 50%;
      }
      .fifty-fifty_content {
        width: calc(50% - 50px);
        margin-left: 50px;
      }
    }
  }

  &.img-right {
    display: block;
    img {
        height: auto;
        width: 100%;
    }
    .fifty-fifty_content {
      margin: 0 20px;
      h2 {
        color: $medium-gray;
      }
    }
    @include grid-media($medium-min) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      .fifty-fifty_img {
        order:1;
        flex-basis: 50%;
      }
      .fifty-fifty_content {
        order: 0;
        width: calc(50% - 50px);
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.flex_full_width {
  background: $dark-blue;
  display: block;
  padding: 15px 10px 10px;

  .full_width_img {
    position: relative;
    img {
      display: block;
      position: relative;
      max-width: none;
      height: auto;
      width: 100%;
    }
  }
   .full_width_content {
     color: white;
     padding: 30px 0;
     z-index: 1;
     a {
       margin-top: 30px;
       min-width: 100%;
     }
   }

   @include grid-media($medium-min) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    .full_width_img {
      flex-basis: 50%;
      position: relative;
      img {
        //float: right;
        position: relative;
        top: -40px;
        right: 20px;
        max-width: none;
        width: 100%;
        height: auto;
      }
    }
    .full_width_content {
      flex-basis: 50%;
      max-width: 460px;
      margin-left: 20px;
      padding: 0;
      color: white;
      a {
        margin-top: 50px;
      }
    }
  }
}

.flex_stacked_tile {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  margin: 0 auto 40px;
  padding: 0 10px;
  max-width: 1450px;
  width: 100%;

  @include grid-media($medium-min) {
    margin: 0 auto 130px;
  }

  .stacked_tile_single {
    display: flex;
    position: relative;
    flex-direction: column;
    grid-column: span 12;
    margin: 10px 0 0;

    @include grid-media($medium-min) {
      grid-column: span 6;
      align-items: flex-end;
    }


    .single_tile_img {
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .single_tile_content {
      margin: 20px 0px 0;
      height: 100%;

      @include grid-media($medium-min) {
        margin: 20px 20px 0;
        float: left;
      }
      @include grid-media($headerMenu-min) {
        margin: 50px 20px 0;
        max-width: 460px;
      }

      h2 {
        margin-bottom: 10px;
        @include grid-media($headerMenu-min) {
        margin-bottom: 30px;
        }
      }
    }

    a {
      margin: 15px 0px 0;
      min-width: auto;
      width: 100%;

      @include grid-media($medium-min) {
        margin: 15px 20px 0;
        width: calc(100% - 40px);
      }
      @include grid-media($headerMenu-min) {
        margin: 40px 20px 0;
        max-width: 460px;
        width: calc(100% - 40px);
      }
    }

    &:nth-child(2) {
      align-items: flex-start;
      margin-top: 30px;
      @include grid-media($medium-min) {
        margin-top: 10px;
      }
      .single_tile_content,
      a {
        float: left;
      }
    }
  }
}

.flex_image_text {
  position: relative;
  padding: 30px 0 0;

  @include grid-media($medium-min) {
    padding: 100px 0;
  }
  .container {
    display: block;
    @include grid-media($medium-min) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }

  .image-text_content {
    z-index: 1;
    a {
      margin-top: 15px;
      max-width: 460px;
      width: 100%;
    }

    @include grid-media($medium-min) {
      flex-basis: 50%;
      max-width: 460px;
      a {
        margin-top: 30px;
      }
    }

    @include grid-media($large-extra) {
      flex-basis: 75%;
      max-width: 800px;
    }
  }

  .image-text_img {
    position: relative;
    right: 0px;
    margin-top: 20px;
    img {
      display: block;
      height: auto;
      width: 100%;
    }

    @include grid-media($medium-min) {
      position: absolute;
      right: 0px;
      bottom: 0px;
      max-width: 48%;
      margin: 0;
    }
  }
}
