footer {
  padding: 18px 0 20px;
  background-color: $blue;
  color: #fff;
  letter-spacing: 1px;
  a {
    @extend .inverse-link;
    text-decoration: none;
  }
}
.clear {
  clear: both;
}
.site-copyright {
   grid-column: span 12;
   place-self: center;
   @include grid-media($medium-min) {
    grid-column: span 7;
    place-self: stretch start;
   }

   p {
    font-weight: 300;
    font-size: 14px;
    margin: 4px 0 0;
    //for divider
    span {
      @include grid-media($small-min) {
        &:after {
          content:'|';
          padding-left: 5px;
          padding-right: 8px;
        }
      }
    }
  }

  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    @include grid-media($small-min) {
      display: inline-block;
      text-align: left;
      margin: 0;
    }
  }
}

.site-footer-menus {
   place-self: center;
   grid-column: span 12;
   @include grid-media($medium-min) {
    grid-column: span 5;
    place-self: stretch end;
   }
   .footer-navigation {
     li {
       display: inline-grid;
       a {
        @extend .inverse-link;
        font-weight: 300;
        font-size: 14px;
        &:after {
          content:'|';
          padding-left: 10px;
          padding-right: 5px;
        }
       }
     }

     li:last-child {
       a {
         @extend .inverse-link;
         font-weight: 300;
         font-size: 14px;
         &:after {
           content:'';
           padding: 0;
         }
       }
     }
   }
}

//sticky footer
.site-content {
  min-height: calc(100vh - 187px);
}
.site-footer {
  height: 100%;
}
