// .footer-callout {
//     min-height: 400px;
//     background-size: cover;
//     background-repeat: no-repeat;
//     margin-top: 150px;
//
//     .footer-callout-wrapper {
//         display: block;
//         padding: 11% 0 0 0;
//
//         @include grid-media($medium-min) {
//             display: flex;
//             padding: 3% 10% 0 10%;
//         }
//         .footer-callout-content {
//             padding: 5% 5% 5% 5%;
//             h2 {
//                 font-size: 36px;
//                 font-weight: 400;
//             }
//             @include grid-media($medium-min) {
//                 float:left;
//                 padding: 4% 0 0 21%;
//             }
//         }
//         a {
//             margin: 20px 25px 20px 25px;
//             color: white;
//             font-weight: normal;
//             text-transform: uppercase;
//             min-width: 100px;
//             @include grid-media($medium-min) {
//                margin: 5% 0 5% 7%;
//                min-width: 400px;
//             }
//         }
//     }
// }


 .footer-callout {
  position: relative;
  padding: 30px 0 0;
  background:#F2F2F2;
  @include grid-media($medium-min) {
    padding: 100px 0;
  }
  .container {
    display: block;
    @include grid-media($medium-min) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }

  .footer-callout-content {
    z-index: 1;
    a {
      margin-top: 15px;
      min-width: 100%;
    }

    @include grid-media($medium-min) {
      flex-basis: 35%;
      max-width: 460px;
      a {
        margin-top: 30px;
      }
    }
    @include grid-media($large-min) {
      flex-basis: 47%;
    }
  }

  .footer-callout-image {
    position: relative;
    right: -15px;
    margin-top: 20px;

    img {
      display: block;
      height: auto;
      width: 100%;

      @include grid-media($medium-min) {
        max-height: 430px;
        width: auto;
      }
    }

    @include grid-media($medium-min) {
      position: absolute;
      right: 0px;
      bottom: 0px;
      //left: 40%;
      margin: 0;
      max-width: 60%;
    }
    @include grid-media($large-min) {
      max-width: 53%;
    }
  }
}
