.site-header {
    //Utility menu
    top:0;
    // transition: $base-transition;
    z-index: 999999;
    position: relative;
    width: 100%;
    z-index: 9999;
    .utility-bar {
      display: none;

      @include grid-media($headerMenu-min) {
        display: block;
        background-color: $red;
      }
      &_menu {
        @extend .container;
        padding: 13px 0;
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          list-style-type: none;
          justify-content: flex-end;
          li {
            font-size: 12px;
            font-weight: 300;

            &:after{
              content:' | ';
              color:white;
            }
            &:last-of-type:after{
              content:'';
            }

            a {
              @extend .inverse-link;
              position: relative;
              text-transform: uppercase;
              opacity: .8;
              color: white;
              padding:0 1em;
              @include grid-media($headerMenu-min) {
                &:hover {
                  opacity: 1;
                  color: white;
                }
              }
              &:before {
                font-family: "Font Awesome 5 Pro";
                font-weight: 300;
                position: absolute;
              }

            }
            &.current_page_item > a,
            &.current-menu-item > a,
            &.current_post_parent > a,
            &.current_page_ancestor > a,
            &.current-menu-ancestor > a {
              opacity: 1;
              color: white;
            }
          }
        }
      }
    }

    .main-header, .sub-menu {
        background: rgba(#383838, 0.8);
        padding-top: 12px;
        padding-bottom: 12px;
        transition: all $base-duration $base-timing;

        .container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .site-branding {
          max-width: 230px;
          max-height: 46px;
          flex: 0 1 75%;
        //   transition: $base-transition;
          @include grid-media($headerMenu-min) {
            max-height: 45px;
            flex: 0 1 30%;
          }
          .custom-logo-link {
            display: block;
            position: relative;
            transition: all $base-duration $base-timing;
            img {
              display: block;
              max-width: 230px;
              max-height: 45px;
            }
            @include grid-media($headerMenu-min) {
              &:hover {
                opacity: 0.65;
                transition: all 300ms ease-in-out;
              }
            }
          }

          .scroll-logo {
            display: none;
            visibility: hidden;
            transition: all $base-duration $base-timing;
            @include grid-media($headerMenu-min) {
              &:hover {
                opacity: 0.65;
                transition: all 300ms ease-in-out;
              }
            }
            img {
              display: block;
              max-width: 230px;
              max-height: 65px;
            }
          }
        }

        .main-navigation {
          flex-basis: 85%;
          display: none;

          @include grid-media($headerMenu-min) {
            display: block;
          }

          .menu {
            display: flex;
            justify-content: flex-end;
            li {
              margin-left: 5%;
              a {
                color: white;
                opacity: .75;
                font-size: 14px;
                padding:26px 0;
                text-decoration: none;
                font-weight: 500;
                -webkit-font-smoothing: antialiased;
                transition: all $base-duration $base-timing;
                @include grid-media($headerMenu-min) {
                  &:hover {
                    //color: white;
                    opacity: 1;
                  }
                }
              }
              &.current_page_item > a,
              &.current-menu-item > a,
              &.current_post_parent > a,
              &.current_page_ancestor > a,
              &.current-menu-ancestor > a {
                color: #ffffff;
                opacity: 1;
              }
            }
          }


        }
    }
}
.main-header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: white;

    .main-navigation .menu li {
      &.current_page_item > a,
      &.current-menu-item > a,
      &.current_post_parent > a,
      &.current_page_ancestor > a,
      &.current-menu-ancestor > a {
        color: $red;
        opacity: 1;
      }
    }

    .main-navigation .menu li a{
      color: $dark-gray;
      opacity: 1;
      &:hover {
        color: $red;
      }
    }
    .site-branding {
      .custom-logo-link {
        display: none;
      }

      .scroll-logo {
        display:  block;
        position: relative;
        visibility: visible;
      }
    }

}

.admin-bar {
  .fixed {
    top: 46px;
    @include grid-media($small-min) {
      top: 32px;
    }
  }

  .fixed-margin {
    margin-top: 70px;
    @include grid-media($small-min) {
      margin-top: 87px;
    }
  }
}

.fixed-margin {
  margin-top: 57px;
  @include grid-media($headerMenu-min) {
    margin-top: 87px;
  }
}

.mobile-navigation {
  display: flex;
  align-items: center;
  ul {
    margin: 0 10px 0 0;
    padding: 0;
  }
  li {
    a {
      position: relative;
      width: 32px;
      text-indent: 32px;
      display: block;
      overflow: hidden;
      // color: $red;
      height: 40px;
    }
    display: block;
    a:before {
      font-family: "Font Awesome 5 Pro";
      font-weight: 300;
      position: absolute;
      content: "\f041";
      font-size: 32px;
      top: -9px;
      left: -28px;
    }
  }
  li.utility-blog,
  li.utility-franchise {
    display: none;
  }
  @include grid-media($headerMenu-min) {
    display: none;
  }

  .menu-toggle.menu-open {
    span {
      display: none;
      height: 3px;
      width: 30px;
      top: 10px;
      background: $red; //color should be changed in the future
      position: relative;
      transform: rotate(45deg);
      &:first-of-type {
        display: flex;
        top: 10px;
        transform: rotate(45deg);
      }
      &:last-of-type {
        display: flex;
        top: 7px;
        transform: rotate(-45deg);
      }
    }
  }

  .menu-toggle {
    display: block;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 0 5px 10px;
    @include grid-media($headerMenu-min) {
      display: none;
    }
    span {
      display: flex;
      flex-direction: column;
      height: 3px;
      width: 30px;
      top: 7px;
      background: $red;
      position: relative;
      transition: all .2s ease-in-out;
      &:first-of-type {
        top: 0px;
      }
      &:last-of-type {
        top: 14px;
      }
    }
  }

}

.admin-bar {
  .sidr {
    top: 47px;
    @include grid-media($small-min) {
      top: 32px;
    }
  }
  #wpadminbar {
    position: fixed;
  }
}


.sidr-open,
.sidr-animating {
  left: 0!important;
  top: 0;
  position: static!important;
}

.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: calc(100% - 70px);
  background: white;
  color: grey;
  .site-branding {
    display: none;
  }
  .sidr-inner {
    a {
      // color: $base-font-color;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &.left {
    right: auto;
    left: calc(-100% + 70px);
  }
  .menu-item {
    display: block;
    text-align: left;
    // border-bottom: $base-border;
    -webkit-font-smoothing: initial;
    &:before {
      content: '';
    }
    &.current-menu-item > a,
    &.current_post_parent > a,
    &.current_page_ancestor > a,
    &.current-menu-ancestor > a {
      color: $red;
    }
    a {
      display: block;
      padding: 1em;
      font-size: 14px;
      font-weight: 700;
      &:hover {
        // color: $red;
      }
      &:focus {
        outline: none;
      }
    }
  }
  /*Sub Nav Styles*/
  .menu-item-has-children{
    &:before{
      color: #E2373F;
      position: absolute;
      top: 6px;
      right: 24px;
      font-size: 15px;
      font-family: "Font Awesome 5 Pro";
      font-weight: bolder;
      content: '\f078';
      cursor: pointer;
    }
  }
  .menu-item-has-children .sub-menu {
    display: none;
    position:unset;
    margin: .5em 1em;
    padding-left:2em;
    width:auto;
    background:transparent;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
    box-shadow: none;
    li a{
      font-weight: normal;
      color:$dark-gray;
      pointer:cursor;
      &:hover{
        color:$red;
      }

    }

  }
}

.mobile-menu-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $overlay;
  z-index: 99;
  margin-top: 68px;
}

.lock-scroll {
  top: 60px;
  overflow: hidden;
}

/*this is for dropdown menu Desktop*/
.menu-item-has-children{
  position: relative;
  &:before {
    color: $red;
    position: absolute;
    top: 6px;
    right: -14px;
    font-size: 12px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
    // color: $base-font-color;
    content: '\f078';
    cursor: pointer;
  }
  .sub-menu {
    display: none; // don't show until hovered on desktop or clicked on mobile
    position: absolute;
    background: rgba(#383838, 0.9);
    top: 45px;
    left: 30px;
    width: 100%;
    min-width: 300px;
    border-top: 4px solid $red;

    -webkit-box-shadow: 10px 10px 9px -8px rgba(46,46,46,1);
    -moz-box-shadow: 10px 10px 9px -8px rgba(46,46,46,1);
    box-shadow: 10px 10px 9px -8px rgba(46,46,46,1);

    .menu-item a{
      display: inline-block;
      width:100%;
      padding:1em 0!important;
    }

    /*This is making the fixed styles happen on the subnav as well*/
    &.fixed{
      background:white;
      a{
        font-weight: bold;
      }
    }
  }
  &:hover{
    .sub-menu{
      display: block;
    }
  }

}
