.hero-image {
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  @extend .grid-container;
  grid-template-rows: 75% 25%;
  margin-top: -75px;
  background-color: $dark-blue;

  > .container {
    grid-column: span 12;
  }

  h1 {
    grid-column: 1 / span 12;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    padding: 150px 0 90px;
    margin: 0;
    color: white;
    @include grid-media($medium-min) {
      padding: 240px 0 160px;
    }
  }
  .hero-content {
    background-color: $overlay;
    grid-column: span 12;
    color: white;
    padding: 35px 0px 40px;
    @include grid-media($medium-min) {
      padding: 30px 20px;
    }
    .container {
      display: block;
      @include grid-media($medium-min) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }
    p {
      flex-basis: 50%;
      font-size: 16px;
      margin: 0;
      -webkit-font-smoothing: antialiased;
    }
    a {
      min-width: 100%;
      margin-top: 20px;
      @include grid-media($medium-min) {
        margin-top: 0px;
        min-width: 350px;
      }
    }
  }
}

//For general hero area
.hero-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $dark-gray;
  min-height:300px;
  margin-top: -68px;
  display: flex;
  align-items: center;
  background-position: 50% 70%; 
  @include grid-media($medium-min) {
    min-height:450px;
  }


  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    text-align: center;
    margin: 58px auto 0;
    color: white;
  }
}

.breadcrumbs {
  margin-top: 25px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: $medium-gray;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  a {
    color: $dark-blue;
    text-decoration: none;
    margin-right: 3px;
  }

  .breadcrumb_last {
    color: $dark-blue;
    font-weight: 600;
    margin-left: 3px;
  }
}
