
.news {
    background: $medium-blue;
    padding-top: 45px;
    padding-bottom: 40px;
    h2 {
        color: white;
        font-weight: 500;
        font-style:italic;
    }
    img {
        height: 300px;
    }
    .btn-secondary {
        min-width: 100%;
        margin: 30px 0;
        @include grid-media($medium-min) {
            margin: 40px calc((940px - 400px)/2 + (100% - 940px)/2);
            min-width: 400px;
        }
    }
}
