.market-detail {
    display: block;
    .post-thumbnail img {
            height: auto;
    }
    .market-content {
        margin: 0 20px;
    }
    @include grid-media($medium-min) {
        display: flex;
        margin: 4% 10%;
        .market-content {
            margin: 1.5% 10% 0 50px;
            width: calc(97.33% - 9.33333px);
        }
    }
}
.markets-latest-3 {
    border-top: $base-border;
    padding-top: 30px;
    padding-bottom: 30px;

    @include grid-media($medium-min) {
        margin: auto;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h2 {
        color: $blue;
    }
    .blog-content_posts article img {
        height: 300px;
    }
    .btn {
        color: white;
        font-weight: 400;
        margin-left: 0;
        min-width: 100%;
        @include grid-media($small-min) {
            margin-left: 29%;
            min-width: 400px;
        }
    }
}
