.single-project-hero {
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    //@extend .grid-container;
    //grid-template-rows: auto auto;
    margin-top: -75px;
    background-color: $dark-gray;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .container {
    //  grid-column: span 12;
      z-index: 1;
    }

    .hero-overlay {
      z-index: 0;
    }
    .headline {
        //grid-column: 1 / span 12;
        //grid-column-start: 1;
        //grid-row-start: 1;
        //grid-row-end: 1;
        margin-bottom: 40px;
        z-index: 1;
        @include grid-media($medium-min) {
          margin-bottom: 90px;
        }
        h1 {
            text-align: center;
            padding: 115px 20px 15px;
            max-width: 940px;
            margin: 0 auto;
            color: white;
            @include grid-media($medium-min) {
              padding: 200px 20px 15px;
            }
        }
        .project-location {
            font-size: 21px;
            text-align: center;
            color: white;
            font-weight: 300;
            margin: 0;
        }
        .market-link {
            text-align: center;
            margin-top: 25px;
            a {
                display: inline-block;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 500;
                color: black;
                background-color: white;
                padding: 12px 40px;
                font-size: 13px;
                letter-spacing: 1px;
            }
        }

    }
    .project-info {
        background-color: rgba(#383838, 0.8);
        //grid-column: 1 / span 12;
        //grid-row-start: 2;
        //grid-row-end: 2;
        color: white;
        z-index: 1;
        width: 100%;

        .container {
          display: block;
          margin: 0 auto;
          width: 100%;
          padding: 0;
          @include grid-media($medium-min) {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            padding: 0 10px;
          }
        }
        .project-info-metric {
            flex-basis: 100%;
            margin: 0;
            padding: 15px 20px;
            border-top: 1px solid white;
            text-align: center;
            display: flex;
            flex-direction: column;
            //justify-content: space-between;

            @include grid-media($medium-min) {
              border: 1px solid white;
            }

            h5 {
              color: rgba(#E2E2E2, .8);
            }

            p {
              font-size: 14px;
              line-height: 18px;
              margin: 0;
            }

            &:first-of-type {

              @include grid-media($medium-min) {
                margin-right: -.5px;
              }
            }
            &:last-of-type {
              @include grid-media($medium-min) {
                margin-left: -.5px;
              }
            }

        }
        .project-client, .project-owner {
            @include grid-media($medium-min) {
                border-right: 0ch;
            }
        }
    }
}

.project-breadcrumbs {
    margin-top: 10px;
    margin-bottom: 20px;
    @include grid-media($medium-min) {
      margin-top: 30px;
    }
}

.single-project-intro {
  max-width: 650px;
  margin: 20px auto 30px;
  text-align: center;
  padding: 0 10px;
  @include grid-media($medium-min) {
      margin: 50px auto 60px;
  }
  h2 {
    line-height: 36px;
  }
}

.single-project-details {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 10px;
  @include grid-media($medium-min) {
    display: grid;
    // Using non-shorthand declarations for grid gap to avoid IE11 issues
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / span 12;
    padding: 0px;
  }

  .single-project-images {
    //flex-basis: 50%;


    @include grid-media($medium-min) {
      grid-column: 1 / span 6;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    img {
      margin-bottom: 10px;
      width: 100%;
      height: auto;

      display: block;
    }
  }
  .single-project-content {
    margin: 0;

    @include grid-media($medium-min) {
      max-width: 465px;
      grid-column: 7 / span 6;
      padding: 0 20px 0 0;
    }

      p {
          margin: 0 0 20px;
          img:not(:first-child) {
              clear: both;
          }
      }
      h2 {
          margin-top: 50px;
          margin-left: 10px;
          color: $blue;
      }
      @include grid-media($medium-min) {
          margin: 0;
      }
      .service-list {
          margin-top: 30px;
          padding-top: 30px;
          margin-bottom: 30px;
          border-top: $base-border;
          @include grid-media($medium-min) {
            margin-top: 50px;
            padding-top: 50px;
            margin-bottom: 50px;
          }
          h3 {
              margin-bottom: 25px;
              text-align: center;
              color: $blue;
              @include grid-media($medium-min) {
                  text-align: left;
              }
          }
          a {
              color: #383838;
              display: block;
              text-decoration: none;
              border: 1px solid #E2E2E2;
              padding: 10px 15px;
              background-color: white;
              margin: 10px auto;
              text-align: center;
              font-size: 14px;
              transition: all .3s ease-in-out;
              &:hover,
              &:focus {
                background-color: $blue;
                color: white;
                border: 1px solid $blue;
              }
              &:last-child {
                margin-bottom: 40px;
              }
              @include grid-media($medium-min) {
                  margin: 0 200px 10px 0;
                  white-space: nowrap;
              }

          }
      }
  }
}
