.serivces-content {
    margin-top: 40px;
    margin-bottom:50px;
}
.services-list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto;
    a {
        position: relative;
        text-align: center;
        text-decoration: none;
    }
    .post-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
    }
    .service-img {
        width:330px;
        height: 330px;
        margin-left: 15px;
    }
    @include grid-media($medium-min) {
        grid-template-columns: auto auto auto;
        .service-img {
            width:290px;
            height: 290px;
        }
    }
}