*.log
*.orig
.htaccess

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-config.php
wp-config-sample.php
wp-activate.php
wp-cron.php
wp-comments-post.php
wp-blog-header.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
index.php
wp-includes/
wp-admin/
license.txt
wp-content/uploads/


license.txt
readme.html
sitemap.xml
sitemap.xml.gz

#Plugin Junk
s/*
wp-content/plugins/psn-pagespeed-ninja/admin/sessions/*
wp-content/plugins/psn-pagespeed-ninja/ress/cache/*

!wp-content/themes/alberici-hillsdale/index.php


#Node Junk
node_modules/*

#codeship stuff
integritystl_alberici-hillsdale.aes
keyfile.rsa
codeship.aes
production.env
.DS_Store

#Code Editor Junk
idea/*