// Breakpoints
$small: 650px;
$medium: 800px;
$large: 980px;
$extraLarge: 1500px;

//Menu-specific Breakpoints
$headerMenu: 940px;

// Use case: @include grid-media($small-min)
// http://neat.bourbon.io/docs/2.0.0/#grid-media
$small-min: (columns: 12, gutter: 0, media: $small + 1);
$medium-min: (columns: 12, gutter: 20px, media: $medium + 1);
$large-min: (columns: 12, gutter: 20px, media: $large + 1);
$large-extra: (columns: 12, gutter: 20px, media: $extraLarge + 1);
$headerMenu-min: (columns: 12, gutter: 20px, media: $headerMenu + 1);

//Define main areas with CSS grid
.grid-container {
  display: grid;
  // Using non-shorthand declarations for grid gap to avoid IE11 issues
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}
