ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fifty-fifty_content ul {
  list-style-type: disc;
  margin-left: 20px;
  li {
    margin-bottom: 5px;
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
