.alberici-kienlen {
    .site-header {
        .utility-bar {
            @include grid-media($headerMenu-min) {
              background-color: $dark-gray;
            }
        }
        .main-header {
            background-color: white;
            .main-navigation {
                .menu {
                    li {
                        a {
                            color: $dark-gray;
                            opacity: 1;
                            @include grid-media($headerMenu-min) {
                                &:hover {
                                  color: $red;
                                  opacity: 1;
                                }
                            }
                        }
                        &.current_page_item > a,
                        &.current-menu-item > a,
                        &.current_post_parent > a,
                        &.current_page_ancestor > a,
                        &.current-menu-ancestor > a {
                          color: $red;
                        }
                    }
                }
            }
        }
    }
    footer {
        background-color: $dark-blue;
    }

    .footer-callout {
        background-color: $red;
        .footer-callout-content {
            h2 {
                color: white;
                font-style: italic;
                font-weight: 500;
            }
            p {
                color: white;
            }
            a {
                background-color: white;
                color: $dark-blue;
                &:hover {
                  background-color: $blue;
                  color: white;
                }
            }
        }
    }
}
