.alberici-kienlen {
    .site-header {
        .utility-bar {
            @include grid-media($headerMenu-min) {
              background-color: $dark-gray;
            }
        }
        .main-header {
            background-color: white;
            .main-navigation {
                .menu {
                    a {
                        color: $dark-gray;
                    }
                }
            }
        }
    }
    footer {
        background-color: $dark-blue;
    }

    .footer-callout {
        background-color: $red;
        .footer-callout-content {
            h2 {
                color: white;
                font-style: italic;
                font-weight: 500;
            }
            p {
                color: white;
            }
            a {
                background-color: white;
                color: $dark-blue;
                &:hover {
                  background-color: $blue;
                  color: white;
                }
            }
        }
    }
}
