.alberici-kienlen {
    .our-clients {
        margin-top: 50px;
        .clients-img {
          display: flex;
          justify-content: space-between;
          align-items: center;
            img {
                margin: 4% 4%;
                width: 24%;
                height: auto;
            }
            @include grid-media($large-min) {
                margin: 0;
                img {
                    margin: 3% 1%;
                    width: 150px;
                    height: auto;
                }
            }
        }
    }
}
