.alberici-kienlen {
  .news-posts-container, .projects-posts-container {
    .filterbar {
      input {
        @include grid-media($small-min) {
          grid-column: 1 / span 6;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          width: 47%;
        }
      }
      .select {
        @include grid-media($small-min) {
          grid-column: 7 / span 6;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          width: 48%;
        }
      }

    } // filterbar
  }
}