.alberici-kienlen {
    .serivces-content {
        margin-bottom:50px;
    }
    .services-list {
        img {
            width: 100%;
            height: 300px;
        }
        .news-meta {
            margin: 110px 0;
            h3 {
                text-align: center;
            }
        }
    }
}
