.alberici-kienlen {
    .service-detail {
        display: block;
        margin: 6% 0;
        .post-thumbnail {
            margin: 0 10px;
            @include grid-media($medium-min) {
                margin: 0;
            }
            img {
                height: auto;
            }
        }
        .service-content {
            margin: 0 20px;
        }
        @include grid-media($medium-min) {
            display: flex;
            margin: 4% 10%;
            .service-content {
                margin: 1.5% 10% 0 50px;
                width: calc(97.33% - 9.33333px);
            }
        }
    }
    .services-latest-3 {
        border-top: $base-border;
        padding-top: 6%;
        @include grid-media($medium-min) {
            padding-top: 60px;
            margin: auto;
        }
        h2 {
            color: $blue;
        }

        .posts_2 {
            margin-top: 6%;
            margin-bottom: 45px;
            max-width: 600px;
            display: block;
            article:first-child {
                margin-bottom: 20px;
            }
            @include grid-media($small-min){
                margin-top: 40px;
                display: grid;
                max-width: 620px;
                // Using non-shorthand declarations for grid gap to avoid IE11 issues
                grid-row-gap: 20px;
                grid-column-gap: 20px;
                grid-template-columns: repeat(8, 1fr);
                margin-left: calc((100% - 620px)/2);
                margin-right: calc((100% - 620px)/2);
                article {
                    grid-column: span 4;
                }
                article:first-child {
                    margin-bottom: 0;
                }
            }
            img{
                height: 300px;
            }
            .news-meta {
                text-transform: capitalize;
            }
        }
        .posts_1 {
            margin-top: 40px;
            display: block;
            width: 100%;
            max-width: 600px;
            @include grid-media($small-min){
                margin-left: calc((100% - 300px)/2);
                margin-right: calc((100% - 300px)/2);
                width: 300px;
            }
        }
        .btn {
            margin-left: 0;
            min-width: 100%;
            color: white;
            font-weight: 400;
            text-transform: uppercase;
            @include grid-media($small-min) {
                margin-left: calc((100% - 400px)/2);
                margin-right: calc((100% - 400px)/2);
                min-width: 400px;
            }
        }
    }
}