.alberici-kienlen {
    .service-detail {
        display: block;
        .post-thumbnail img {
                height: auto;
        }
        .service-content {
            margin: 0 20px;
        }
        @include grid-media($medium-min) {
            display: flex;
            margin: 4% 10%;
            .service-content {
                margin: 1.5% 10% 0 50px;
                width: calc(97.33% - 9.33333px);
            }
        }
    }
    .services-latest-3 {
        border-top: $base-border;
        @include grid-media($medium-min) {
            padding-top: 60px;
            margin: auto;
        }
        h2 {
            color: $blue;
        }
        .card-group {
            img{
                height: 300px;
            }
            .news-meta {
                text-transform: capitalize;
            }
        }
        .btn {
            margin-left: 0;
            min-width: 100%;
            color: white;
            font-weight: 400;
            text-transform: uppercase;
            @include grid-media($small-min) {
                margin-left: 29%;
                min-width: 400px;
            }
        }
    }
}